{% extends "project/header.html" %}
{% load staticfiles %}
{% block content %}
<center>
<div class="credit content-wrap page6-top">Group Members</div>

<!-- Mohammad Amjed Info -->
<div class="credit content-wrap">
	<div><span class="title">Mohammad Amjed</span><br>
	<img class="image6" src="{% static 'project/img/student1.jpeg' %}" alt="Mohammad Amjed"><br>
	Email: mamjed@ryerson.ca<br>
	<span class="sub-title">Resposibilies:</span>
	<ul style="list-style-type:none;">
		<li>Django Summary</li>
		<li>Frontend development</li>
	</ul>
	</div>
</div>


<!-- Ned Datiles info -->
<div class="credit content-wrap">
	<div><span class="title"> Ned Datiles</span><br>
		<img class="image6" src="{% static 'project/img/student2.jpeg' %}" alt="Ned Datiles"><br>
		Email: ned.austin.datiles@ryerson.ca<br>
		<span class="sub-title">Resposibilies:</span>
		<ul style="list-style-type:none;">
			<li>Django Installation instructions</li>
			<li>Backend development.</li>
		</ul>
	</div>
</div>
	
	<!-- Nial Hope info -->
<div class="credit content-wrap">
	<div><span class="title">Nial Hope</span><br>
		<img class="image6" src="{% static 'project/img/student3.jpeg' %}" alt="Nial Hope"><br>
		Email: nhope@ryerson.ca<br>
		<span class="sub-title">Resposibilies:</span>
		<ul style="list-style-type:none;">
			<li>Foundation Summary.</li>
			<li>Frontend development.</li>
		</ul>
	</div>
</div>

	<!-- Vince de Vera info -->
<div class="credit content-wrap">
	<div ><span class="title">Vince De Vera</span><br>
		<img class="image6" src="{% static 'project/img/student4.jpg' %}" alt="Vince De Vera"><br>
		Email: vince.devera@ryerson.ca<br>
		<span class="sub-title">Resposibilies:</span>
		<ul style="list-style-type:none;">
			<li>Foundation installation Instructions.</li>
			<li>Frontend development.</li>
		</ul>
	</div>
</div>
</center>
{% endblock %}
