{% extends "project/header.html" %}

{% block content %}
				<div>
					<span> In this tutorial we will guide you through, how we created our webpage.</span><br>
					<span><strong>Prerequisite</strong></span>
					<ol>
						<li>Ensure that Python 3 and <a href="/installations/"> Django for Python3</a> is installed.</li>
						<li>Create a project folder for your django project:<code> django-admin startproject OurAnimeList</code></li>
						<li>Change directory into the project folder that was created from step (3).</li>
						<span>In Django, a website is composed of applications. The main site just references them.</span>
						<li>Type in the following to create an application with that project folder:<code> python manage.py startapp animes</code></li>
						<li>In the same working directory, open OurAnimeList/settings.py with an editor of your choice. </li>
						<li>Find the INSTALLED_APPS list and add the following as an item in the list: <pre><code>‘animes’,</code></pre></li>
						<li>In the same working directory as, open up OurAnimeList/urls.py</li>
						<li>At the top of the script file, import include from django.urls.</li>
						<li>Find the urlpatterns list and add the following as an item in the list:<code> path(‘’, include(‘animes.urls’)),</code>save and exit the file.</li>
						<li>Change directory to animes.</li>
						<li>Create a file called urls.py</li>
						<li>Open up urls.py and enter in the following code:<code><pre>
from django.urls import path, include

urlpatters = [
    path('', views.index, name='index'),
]</pre></code>save and exit the file.</li>
						<li>Open up views.py with a text editor.</li>
						<li>In views.py enter the following code:<code><pre>
from django.shortcuts import render

def index(request):
    return render(request, 'animes/showcase.html')</pre></code> save and exit the file.</li>
					
					</ol>
    					<hr>
    					<span><strong>Page creation</strong></span>
    				<ol>
    					<li>Inside of the same directory, i.e., /animes/ create a new folder called templates</li>
    					<li>Inside of the templates directory, create a directory called: animes</li>
    					<li>Inside of templates/animes/ create an html file called header.html</li>
    					<div>
<code><pre>
&#123;&#37; load staticfiles &#37;&#125;
&lt;!DOCTYPE html&gt;
&lt;html&gt;
	&lt;head&gt;
		&lt;meta charset="utf-8"&gt;
	    &lt;meta http-equiv="x-ua-compatible" content="ie=edge"&gt;
	    &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
		&lt;title&gt;Best site ever&lt;/title&gt;
		&lt;link rel="stylesheet" href="&#123;&#37; static 'OurAnimeList/css/foundation.min.css' &#37;&#125;" type='text/css'&gt;
	    &lt;link rel="stylesheet" href="&#123;&#37; static 'OurAnimeList/css/my.css' &#37;&#125;" type='text/css'&gt;
	    &lt;link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet"&gt; 
		&lt;script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"&gt;&lt;/script&gt;
		&lt;script src="&#123;&#37; static 'project/js/vendor/foundation.js' &#37;&#125;"&gt;&lt;/script&gt;
	&lt;/head&gt;
	&lt;body&gt;
		
		&lt;body &gt;
		&lt;header class="mhead"&gt;
			&lt;button  class="button nbutton" type="button" data-toggle="example-dropdown"&gt;Menu&lt;/button&gt;
				&lt;div  class="dropdown-pane ndiv" id="example-dropdown" data-dropdown data-auto-focus="true"&gt;
				  
					&lt;ul  style="list-style-type: none; "&gt;
						&lt;li&gt;&lt;a href="/summary/"&gt;Summary&lt;/a&gt;&lt;/li&gt;
				      	&lt;li&gt;&lt;a href="/installations/"&gt;Installations&lt;/a&gt;&lt;/li&gt;
				      	&lt;li&gt;&lt;a href="/tutorial/"&gt;Tutorial&lt;/a&gt;&lt;/li&gt;
					    &lt;li&gt;&lt;a href="/webpage/"&gt;Web Page&lt;/a&gt;&lt;/li&gt;
				      	&lt;li&gt;&lt;a href="/report/"&gt;Report&lt;/a&gt;&lt;/li&gt;
				      	&lt;li&gt;&lt;a href="/credit/"&gt;Credits&lt;/a&gt;&lt;/li&gt;
					&lt;/ul&gt;				  
				&lt;/div&gt;
				&lt;div class="color-text" &gt;Anime's Best &lt;/div&gt;
		&lt;/header&gt;	

		&#123;&#37; block content &#37;&#125;
		&#123;&#37; endblock &#37;&#125;
			
	&lt;script src="js/vendor/jquery.js"&gt;&lt;/script&gt;
    &lt;script src="js/vendor/what-input.js"&gt;&lt;/script&gt;
    &lt;script src="js/vendor/foundation.js"&gt;&lt;/script&gt;
    &lt;script src="js/app.js"&gt;&lt;/script&gt;
	&lt;/body&gt;
&lt;/html&gt;
	</pre></code>
		<li>Inside of templates/animes/ create an html file called showcase.html</li>
		<li> Open up showcase.html with and editor in the location mentioned in the previous step.</li>
		<li>Inside of showcase.html add the following code:</li>
		<div>
			<code><pre>
&#123;&#37; extends "project/custom_header.html" &#37;&#125;

&#123;&#37; block content &#37;&#125;
&lt;section&gt;
	&lt;div class="grid-container"&gt;
		&lt;a href="http://ancientmagusbride.wikia.com/wiki/The_Ancient_Magus_Bride_Wikia"&gt;
			&lt;div class="card" &gt;
				&lt;div class="card-divider"&gt; The Ancient Magus Bride&lt;/div&gt;	
				&lt;div class="card-section"&gt;
					&lt;img class="r-image" src="https://cdn.vox-cdn.com/thumbor/Zc1_iysFItedCqB2_kN_JVXu65k=/0x354:1064x1166/620x413/filters:focal(376x510:546x680):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/56956201/2x3__25_.0.png" alt="THE ANCIENT MAGUS’ BRIDE"&gt;
				&lt;/div&gt;								
			&lt;/div&gt;
		&lt;/a&gt;
		&lt;a href="http://bleach.wikia.com/wiki/Bleach_Wiki"&gt;
			&lt;div class="card"&gt;
				&lt;div class="card-divider"&gt;Bleach&lt;/div&gt;
				&lt;div class="card-section"&gt;
					&lt;img class="r-image" src="https://imgix.ranker.com/user_node_img/61/1206645/original/ichigo-kurosaki-u30?w=650&q=50&fm=jpg&fit=crop&crop=faces" alt="Ichigo Kurosaki"&gt;
				&lt;/div&gt;					
			&lt;/div&gt;
		&lt;/a&gt;
		&lt;a href="https://attackontitan.fandom.com/wiki/Attack_on_Titan_Wiki"&gt;
			&lt;div class="card"&gt;
				&lt;div class="card-divider"&gt;Shingeki no Kyojin&lt;/div&gt;
				&lt;div class="card-section"&gt;
					&lt;img class="r-image" src="https://imgix.ranker.com/user_node_img/4261/85210187/original/levi-ackerman-u11?w=650&q=50&fm=jpg&fit=crop&crop=faces" alt="Levi Ackerman"&gt;
				&lt;/div&gt;					
			&lt;/div&gt;
		&lt;/a&gt;
		&lt;a href="https://hellsing.fandom.com/wiki/Hellsing_Wiki"&gt;
			&lt;div class="card"&gt;
				&lt;div class="card-divider"&gt;Hellsing&lt;/div&gt;
				&lt;div class="card-section"&gt;
					&lt;img class="r-image" src="https://www.mangauk.com/gallery/albums/album-19/lg/Hellsing-Ultimate-41.jpg" alt="Alucard"&gt;
				&lt;/div&gt;					
			&lt;/div&gt;
		&lt;/a&gt;
	&lt;/div&gt;
	&lt;div class="grid-container"&gt;
		&lt;a href="https://fairytail.fandom.com/wiki/Main_Page"&gt;
			&lt;div class="card"&gt;
				&lt;div class="card-divider"&gt;Fairy Tail&lt;/div&gt;
				&lt;div class="card-section"&gt;
					&lt;img class="r-image" src="https://img1.ak.crunchyroll.com/i/spire2/f4ca1a545a471a9ce6e43eef8e8d72541539734102_full.jpg" alt="Fairy Tail"&gt;
				&lt;/div&gt;					
			&lt;/div&gt;
		&lt;/a&gt;
		&lt;a href="http://onepiece.wikia.com/wiki/One_Piece_Wiki"&gt;
			&lt;div class="card"&gt;
				&lt;div class="card-divider"&gt; One Piece&lt;/div&gt;
				&lt;div class="card-section"&gt;
					&lt;img class="r-image" src="https://i.ytimg.com/vi/SSWsmRJJQPQ/maxresdefault.jpg" alt="One Piece"&gt;
				&lt;/div&gt;					
			&lt;/div&gt;
		&lt;/a&gt;
		&lt;a href="http://final-space.wikia.com/wiki/Final_Space_Wiki"&gt;
			&lt;div class="card"&gt;
				&lt;div class="card-divider"&gt;Final Space&lt;/div&gt;
				&lt;div class="card-section"&gt;
					&lt;img class="r-image" src="https://m.media-amazon.com/images/M/MV5BNWNmNjVmNjAtYjU1Zi00Y2ZiLWJkMDMtOTkzMjdkNmI2YjliXkEyXkFqcGdeQXVyMjM1Mjk3MzU@._V1_SY1000_CR0,0,647,1000_AL_.jpg" alt="Final Space"&gt;
				&lt;/div&gt;					
			&lt;/div&gt;
		&lt;/a&gt;
		&lt;a href="http://castlevania.wikia.com/wiki/Castlevania_Wiki"&gt;
			&lt;div class="card"&gt;
				&lt;div class="card-divider"&gt;Castlevania&lt;/div&gt;
				&lt;div class="card-section"&gt;
					&lt;img class="r-image" src="https://d1xfgk3mh635yx.cloudfront.net/sites/default/files/styles/inline/public/image/featured/1047248-viz-media-announces-acquisition-castlevania.jpg?itok=DzZK6Hgv" alt="Castlevania"&gt;
				&lt;/div&gt;					
			&lt;/div&gt;
		&lt;/a&gt;
	&lt;/div&gt;
	&lt;div class="grid-container"&gt;
		&lt;a href="http://naruto.wikia.com/wiki/Narutopedia"&gt;
			&lt;div class="card" &gt;
				&lt;div class="card-divider"&gt;Naruto&lt;/div&gt;
				&lt;div class="card-section"&gt;
					&lt;img class="r-image" src="https://media.comicbook.com/2017/10/naruto-character-deaths-resurrections-1040501-1280x0.jpg" alt="Naruto"&gt;
				&lt;/div&gt;					
			&lt;/div&gt;
		&lt;/a&gt;
		&lt;a href="http://bokunoheroacademia.wikia.com/wiki/My_Hero_Academia_Wiki"&gt;
			&lt;div class="card"&gt;
				&lt;div class="card-divider"&gt;My Hero Academia&lt;/div&gt;
				&lt;div class="card-section"&gt;
					&lt;img class="r-image" src="https://vignette.wikia.nocookie.net/bokunoheroacademia/images/c/c6/My_Hero_Academia_Soundtrack.png" alt="My Hero Academia"&gt;
				&lt;/div&gt;					
			&lt;/div&gt;
		&lt;/a&gt;
		&lt;a href="http://onepunchman.wikia.com/wiki/Saitama"&gt;
			&lt;div class="card"&gt;
				&lt;div class="card-divider"&gt;One Punch Man&lt;/div&gt;
				&lt;div class="card-section"&gt;
					&lt;img class="r-image" src="https://is5-ssl.mzstatic.com/image/thumb/Music111/v4/35/ac/39/35ac3977-dca3-f0e8-a365-ac49df20d329/source/1200x630bb.jpg" alt="One Punch Man"&gt;
				&lt;/div&gt;					
			&lt;/div&gt;
		&lt;/a&gt;
		&lt;a href="https://hunterxhunter.fandom.com/wiki/Hunterpedia"&gt;
			&lt;div class="card"&gt;
				&lt;div class="card-divider"&gt;Hunter X Hunter&lt;/div&gt;
				&lt;div class="card-section"&gt;
					&lt;img class="r-image" src="https://is2-ssl.mzstatic.com/image/thumb/Music71/v4/4c/48/dd/4c48dd4c-b904-ad3d-b0f6-10b727687baa/source/1200x630bb.jpg" alt="Hunter X Hunter"&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/a&gt;
	&lt;/div&gt;
&lt;/section&gt;
&#123;&#37; endblock &#37;&#125;
    						</pre></code>
    					</div>
    					

    					<li>Inside of /animes/ create a new file called static/animes/css/my.css and insert the following code:</li>
    					<div>
    						<code><pre>
body{
	background-image: url("../img/index.png");
	background-size: 100%;
	background-repeat: repeat;
	background-attachment: fixed;
}
.color-text{
  font-size: 66px;
  background: -webkit-linear-gradient(right,#0099ff, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width:auto;
  height: 80px;
  align-content: center;
  margin-left:40%;
  font-family: 'Kumar One Outline', cursive;
  font-size: 66px;
  font-weight: bold;
}
.nhead{
	height: 100px;
	margin-top: 15px;
}
.nbutton{
	margin-left:20px;
	float: left;
}
.ndiv{
	background-color: rgb(51, 153, 255,0.1); 
}
.card-section{
	padding: 5px;
	height: 80%;	
}
.card-divider{
	padding: 5px;
	background-color: rgb(51, 153, 255,0.1); 
}
.card{
	width: 250px;
	height: 325px;
	background-color: rgb(51, 153, 255,0.1);
	color: white; 
	font-weight: bold;
	border-color: rgb(51, 153, 255,0.1);
	margin: 15px;
}
.grid-container{
	display: grid;
	 grid-template-columns: auto auto auto auto;
}
.r-image{
	width: 240px;
	height: 290px;
}</pre></code>
					</div>
						<li>Now Start the Django server from the project folder with: <code>python manage.py runserver</code></li>




    				</ol>
</div>
{% endblock %}