{% extends "project/custom_header.html" %}

{% block content %}
<section>
	<div class="grid-container">
		<a href="http://ancientmagusbride.wikia.com/wiki/The_Ancient_Magus_Bride_Wikia">
			<div class="card" >
				<div class="card-divider"> The Ancient Magus Bride</div>	
				<div class="card-section">
					<img class="r-image" src="https://cdn.vox-cdn.com/thumbor/Zc1_iysFItedCqB2_kN_JVXu65k=/0x354:1064x1166/620x413/filters:focal(376x510:546x680):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/56956201/2x3__25_.0.png" alt="THE ANCIENT MAGUS’ BRIDE">
				</div>								
			</div>
		</a>
		<a href="http://bleach.wikia.com/wiki/Bleach_Wiki">
			<div class="card">
				<div class="card-divider">Bleach</div>
				<div class="card-section">
					<img class="r-image" src="https://imgix.ranker.com/user_node_img/61/1206645/original/ichigo-kurosaki-u30?w=650&q=50&fm=jpg&fit=crop&crop=faces" alt="Ichigo Kurosaki">
				</div>					
			</div>
		</a>
		<a href="https://attackontitan.fandom.com/wiki/Attack_on_Titan_Wiki">
			<div class="card">
				<div class="card-divider">Shingeki no Kyojin</div>
				<div class="card-section">
					<img class="r-image" src="https://imgix.ranker.com/user_node_img/4261/85210187/original/levi-ackerman-u11?w=650&q=50&fm=jpg&fit=crop&crop=faces" alt="Levi Ackerman">
				</div>					
			</div>
		</a>
		<a href="https://hellsing.fandom.com/wiki/Hellsing_Wiki">
			<div class="card">
				<div class="card-divider">Hellsing</div>
				<div class="card-section">
					<img class="r-image" src="https://www.mangauk.com/gallery/albums/album-19/lg/Hellsing-Ultimate-41.jpg" alt="Alucard">
				</div>					
			</div>
		</a>
	</div>
	<div class="grid-container">
		<a href="https://fairytail.fandom.com/wiki/Main_Page">
			<div class="card">
				<div class="card-divider">Fairy Tail</div>
				<div class="card-section">
					<img class="r-image" src="https://img1.ak.crunchyroll.com/i/spire2/f4ca1a545a471a9ce6e43eef8e8d72541539734102_full.jpg" alt="Fairy Tail">
				</div>					
			</div>
		</a>
		<a href="http://onepiece.wikia.com/wiki/One_Piece_Wiki">
			<div class="card">
				<div class="card-divider"> One Piece</div>
				<div class="card-section">
					<img class="r-image" src="https://i.ytimg.com/vi/SSWsmRJJQPQ/maxresdefault.jpg" alt="One Piece">
				</div>					
			</div>
		</a>
		<a href="http://final-space.wikia.com/wiki/Final_Space_Wiki">
			<div class="card">
				<div class="card-divider">Final Space</div>
				<div class="card-section">
					<img class="r-image" src="https://m.media-amazon.com/images/M/MV5BNWNmNjVmNjAtYjU1Zi00Y2ZiLWJkMDMtOTkzMjdkNmI2YjliXkEyXkFqcGdeQXVyMjM1Mjk3MzU@._V1_SY1000_CR0,0,647,1000_AL_.jpg" alt="Final Space">
				</div>					
			</div>
		</a>
		<a href="http://castlevania.wikia.com/wiki/Castlevania_Wiki">
			<div class="card">
				<div class="card-divider">Castlevania</div>
				<div class="card-section">
					<img class="r-image" src="https://d1xfgk3mh635yx.cloudfront.net/sites/default/files/styles/inline/public/image/featured/1047248-viz-media-announces-acquisition-castlevania.jpg?itok=DzZK6Hgv" alt="Castlevania">
				</div>					
			</div>
		</a>
	</div>
	<div class="grid-container">
		<a href="http://naruto.wikia.com/wiki/Narutopedia">
			<div class="card" >
				<div class="card-divider">Naruto</div>
				<div class="card-section">
					<img class="r-image" src="https://media.comicbook.com/2017/10/naruto-character-deaths-resurrections-1040501-1280x0.jpg" alt="Naruto">
				</div>					
			</div>
		</a>
		<a href="http://bokunoheroacademia.wikia.com/wiki/My_Hero_Academia_Wiki">
			<div class="card">
				<div class="card-divider">My Hero Academia</div>
				<div class="card-section">
					<img class="r-image" src="https://vignette.wikia.nocookie.net/bokunoheroacademia/images/c/c6/My_Hero_Academia_Soundtrack.png" alt="My Hero Academia">
				</div>					
			</div>
		</a>
		<a href="http://onepunchman.wikia.com/wiki/Saitama">
			<div class="card">
				<div class="card-divider">One Punch Man</div>
				<div class="card-section">
					<img class="r-image" src="https://is5-ssl.mzstatic.com/image/thumb/Music111/v4/35/ac/39/35ac3977-dca3-f0e8-a365-ac49df20d329/source/1200x630bb.jpg" alt="One Punch Man">
				</div>					
			</div>
		</a>
		<a href="https://hunterxhunter.fandom.com/wiki/Hunterpedia">
			<div class="card">
				<div class="card-divider">Hunter X Hunter</div>
				<div class="card-section">
					<img class="r-image" src="https://is2-ssl.mzstatic.com/image/thumb/Music71/v4/4c/48/dd/4c48dd4c-b904-ad3d-b0f6-10b727687baa/source/1200x630bb.jpg" alt="Hunter X Hunter">
				</div>
			</div>
		</a>
	</div>
</section>
{% endblock %}