
/*-------------------- General Styles -------------------*/
.wrap{
	width: 95%;
	/*  max-width: 1100px; */
	margin:0 auto;
}

/*-------------------- Header Styles -------------------*/
.head{
	font-family: 'Luckiest Guy', cursive;
	font-size:46px;
	border-width: 5px;"
}



/*-------------------- Nav Styles -------------------*/




/*-------------------- Main Styles -------------------*/
.page6-top{
	text-decoration: underline;
	font-size: 36px;
	font-weight: bold;"
}
.content-wrap{
	width: 90%;
	margin:auto;
	
}
.title{
	width: 400px;
	margin: auto;
	font-size: 26px;
	text-align: center;
	font-weight: bold;
}
.sub-title{
	font-size: 18px;
	font-weight: bold;
	margin-top: 15px;
}
.img-style{
	margin:10px auto;
}

/*       Page 6 Styles*/

.page6-names{
	font-size: 18px;
	text-align: center;
	font-weight: bold;

}
.credit{
	margin-left: 30px;
}

.image6{
	width: 300px;
	height: 300px;
	border-radius: 200px;
}


/* This is where the website css starts. */


.body1{
	background-image: url("../img/index.png");
	
	background-size: 100%;
	background-repeat: repeat;
	background-attachment: fixed;
}
.color-text{

  font-size: 66px;
  background: -webkit-linear-gradient(right,#0099ff, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  width:auto;
  height: 80px;
  align-content: center;
  margin-left:40%;
  font-family: 'Kumar One Outline', cursive;
  font-size: 66px;
  font-weight: bold;

}

.nhead{
	height: 100px;
	margin-top: 15px;
}
.nbutton{
	margin-left:20px;
	float: left;
}
.ndiv{
	background-color: rgb(51, 153, 255,0.1); 
}
.fieldset{
	width: 600px;
	margin: 50px auto;

	border-width: 2px 2px 6px 6px;
	border-left-color: grey;
	border-bottom-color: grey;
	border-top-color: white;
	border-right-color: white; 
	color: white;
}


.header .main-menu {
    width: 300px;
    position: absolute;
    left: 20px;
    top: 40px;
    background: blue;
    height: auto;
    border-radius: 3px;
    display: block;
    box-shadow: 0 0 20px rgba(0,0,0,.8);
    list-style-type: none;
}

.image-style{
	height: 50px;
	display: block;
	align-content: center;
	 box-shadow: 0 0 20px rgba(0,0,0,.8);
	 position: absolute;
	 float: left;
}

.header .logo {
    position: absolute;
    left: 50%;
    margin-left: -90px;

    width: 180px;
    height: 60px;
    float: left;
    
}


.card-section{
	padding: 5px;
	height: 80%;

	
}
.card-divider{
	padding: 5px;
	background-color: rgb(51, 153, 255,0.1); 


}
.card{

	width: 250px;
	height: 325px;
	background-color: rgb(51, 153, 255,0.1);
	color: white; 
	font-weight: bold;
	border-color: rgb(51, 153, 255,0.1);
	margin: 15px;

}
.grid-container{
	display: grid;
	 grid-template-columns: auto auto auto auto;
}
.r-image{
	width: 240px;
	height: 290px;
}
